<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ _('Proyecto Compilador') }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="d-flex flex-column align-items-center py-3 text-bg-dark">
        <h1>{{ _('Proyecto Compilador') }}</h1>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-2 py-3 text-bg-dark">
          <h4>{{ _('Panel de Control') }}</h4>
          <hr />
          <ul class="nav nav-pills flex-column">
            <li class="py-2">
              <button type="button" class="btn btn-primary" id="run_btn">
                {{_('Ejecutar')}}
              </button>
            </li>

            <li class="py-2">
              <label for="examples" class="form-label d-block"
                >{{_('Ejemplos')}}</label
              >
              <select
                class="form-select w-75 my-2"
                name="examples"
                id="examples"
              >
                <option value="example_1">{{_('Ejemplo 1')}}</option>
                <option value="example_2">{{_('Ejemplo 2')}}</option>
                <option value="example_3">{{_('Ejemplo 3')}}</option>
              </select>
              <button type="button" class="btn btn-primary" id="example_btn">
                {{_('Cargar Ejemplo')}}
              </button>
            </li>
          </ul>

          <hr />

          <h5>{{_('Idioma')}}</h5>
          <a href="{{ url_for(request.endpoint, lang_code='es') }}">Español</a
          >&nbsp;
          <a href="{{ url_for(request.endpoint, lang_code='en') }}">English</a
          >&nbsp;
          <a href="{{ url_for(request.endpoint, lang_code='pt') }}">Português</a
          >&nbsp;
          <a href="{{ url_for(request.endpoint, lang_code='it') }}">Italiano</a
          >&nbsp;
          <a href="{{ url_for(request.endpoint, lang_code='de') }}">Deutsch</a
          >&nbsp;
          <a href="{{ url_for(request.endpoint, lang_code='fr') }}">Français</a>

          <hr />
        </nav>

        <main class="col-10">
          <div class="row h-100">
            <div class="col bg-dark">
              <h3 class="text-bg-dark text-center py-3 m-0">{{_('Código')}}</h3>
              <textarea
                class="form-control"
                rows="10"
                style="resize: none"
                id="code_input"
              ></textarea>
              <h3 class="text-bg-dark text-center py-3 m-0">
                {{_('Consola')}}
              </h3>
              <textarea
                class="form-control"
                rows="5"
                style="resize: none"
                id="console"
              ></textarea>
            </div>
          </div>
        </main>
      </div>
    </div>

    <footer class="text-bg-dark pt-3 pb-2">
      <ul class="nav justify-content-center">
        <li class="nav-item"><p class="px-4">Francisco Hernández</p></li>
        <li class="nav-item"><p class="px-4">Anderson Maldonado</p></li>
      </ul>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/index.js"></script>
  </body>
</html>
